article{
border: 1px solid aqua;
box-shadow: 2px 2px 10px aqua;
}
.reveiw{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 70px;
    max-width: 320px;
    
}
img{
    height: 400px;
    width: 450px;
    border-radius:15px;
    box-shadow: 2px 2px 10px aqua;
   
}
.title{
}
footer{
    display: flex;
    width: 250px;
    justify-content: space-around;
}
.color{
    color:aqua;

}